.App :global {
  text-align: center;

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: #9babc9;
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #09d3ac;
  }

  .add-new-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 60px;
  }
  .main-page-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid red;
    justify-content: center;
    width: 100%;
    height: 100vh;

    nav{
      width: 50%;
      height: 100%;
      border: 1px solid #1415ff;
    }

    article{
      width: 50%;
      height: 100%;
      border: 1px solid #49ff23;
    }
  }
}
